{
  "root": true,
  "env": { "browser": true, "es2021": true, "node": true },
  "parserOptions": { "ecmaVersion": "latest", "sourceType": "module" },
  "extends": [
    "eslint:recommended",
    "eslint-config-prettier",
    "prettier",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:react-hooks/recommended"
  ],
  "plugins": ["react-refresh", "prettier"],
  "ignorePatterns": ["dist", ".eslintrc.cjs"],
  "settings": { "react": { "version": "18.2" } },
  "rules": {
    "react/prop-types": "off",
    "react-refresh/only-export-components": ["warn", { "allowConstantExport": true }],
    "no-unused-vars": "warn",
    "prettier/prettier": [
      "warn",
      {
        "arrowParens": "always",
        "semi": false,
        "trailingComma": "none",
        "tabWidth": 2,
        "endOfLine": "auto",
        "useTabs": false,
        "singleQuote": true,
        "printWidth": 110
      }
    ]
  }
}
